body {
	margin:0px;
	background-color:#ECF0F1;
}

h1{
	font-size:3em;
	-webkit-margin-before:1px;
	-webkit-margin-after:1px;
}



#heading{
	color:white;
	background-color:#2C3E50;
	font-weight:300;
	font-family:Helvetica, Arial, Verdana, sans-serif;
	letter-spacing:1px;
	text-align:center;
	border-bottom:1px solid grey;
	box-shadow:0px 0.50px 10px grey;
}

#footer {
	font-size:11px;
	color:white;
	background-color:#2C3E50;
	font-family:Helvetica, Arial, Verdana, sans-serif;
	text-align:center;
	box-shadow:0.5px 0px 10px grey;
	letter-spacing:1px;
}
